* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.form-companies {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 800px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
  font-size: 16px;
  padding: 15px;
  gap: 10px;
  margin: 0 auto;
}

.form-companies hr {
  background: gray;
  max-width: 650px;
  height: 1px;
  margin: auto;
}

.header-form {
  display: flex;
  flex-direction: row;
  max-width: 750px;
  text-align: center;
  gap: 5px;
  justify-content: space-evenly;
  align-items: center;
}

.header-form h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 27px;
}

.container-dados {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: auto;
  text-align: start;
  gap: 5px;
  justify-content: space-evenly;
  align-items: center;
}

.container-dados input {
  border: 1px solid lightblue;
  max-width: 340px;
  height: 30px;
  padding-left: 7px;
  margin-top: 13px;
  margin-bottom: 13px;
}

.company-name,
.cnpj-email,
.latitude-longitude {
  display: flex;
  flex-direction: row;
  max-width: 700px;
  margin: auto;
  text-align: start;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.latitude-longitude input {
  max-width: 340px;
  height: 30px;
  padding-left: 7px;
  margin-top: 13px;
  margin-bottom: 13px;
  border: 1px solid lightblue;
}

.address-details {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: auto;
  text-align: start;
  justify-content: space-evenly;
  align-items: center;
}

.address-details input {
  border: 1px solid lightblue;
}

input[name="number"],
input[name="district"],
input[name="city"] {
  max-width: 255px;
  height: 30px;
  padding-left: 7px;
  margin-top: 13px;
  margin-bottom: 13px;
}

input[name="address"] {
  max-width: 440px;
  height: 30px;
  padding-left: 7px;
  margin-top: 13px;
  margin-bottom: 13px;
}

input[name="cep"] {
  max-width: 230px;
  height: 30px;
  padding-left: 7px;
  margin-top: 12px;
  margin-bottom: 12px;
}

input[name="complement"] {
  max-width: 700px;
  height: 30px;
  padding-left: 7px;
  margin-top: 13px;
  margin-bottom: 13px;
}

.number-district-city {
  display: flex;
  flex-direction: row;
  max-width: 700px;
  margin: auto;
  text-align: start;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.cep-address {
  display: flex;
  flex-direction: row;
  max-width: 700px;
  margin: auto;
  text-align: start;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.cep {
  max-width: 240px;
}
.address {
  max-width: 440px;
}

.complement {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: auto;
}

.btn-comp-container {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 30px;
}

@media (max-width: 800px) {
  .main {
    max-width: 800px;
  }
  .form-companies {
    max-width: 700px;
    font-size: 14px;
  }

  .container-dados,
  .company-name,
  .cnpj-email,
  .latitude-longitude,
  .address-details,
  .number-district-city,
  .cep-address,
  .complement {
    font-size: 14px;
    max-width: 600px;
  }
  .cep {
    max-width: 200px;
  }
  .address {
    max-width: 400px;
  }
  input[name="corporate"],
  input[name="fantasy"],
  input[name="cnpj"],
  input[name="emailCompany"],
  input[name="latitude"],
  input[name="longitude"] {
    font-size: 12px;
    max-width: 275px;
  }
  input[name="number"],
  input[name="district"],
  input[name="city"] {
    font-size: 12px;
    max-width: 200px;
  }
  input[name="address"] {
    max-width: 400px;
    font-size: 12px;
  }
  input[name="cep"] {
    max-width: 200px;
    font-size: 12px;
  }
  input[name="complement"] {
    max-width: 600px;
    font-size: 12px;
  }
  .form-companies hr {
    max-width: 550px;
  }
}

@media (max-width: 670px) {
  .main {
    max-width: 670px;
  }
  .form-companies {
    max-width: 550px;
    font-size: 12px;
  }
  .container-dados,
  .company-name,
  .cnpj-email,
  .latitude-longitude,
  .address-details,
  .number-district-city,
  .cep-address,
  .complement {
    font-size: 11px;
    max-width: 500px;
  }
  .cep {
    max-width: 130px;
  }
  .address {
    max-width: 370px;
  }
  input[name="corporate"],
  input[name="fantasy"],
  input[name="cnpj"],
  input[name="emailCompany"],
  input[name="latitude"],
  input[name="longitude"] {
    font-size: 11px;
    max-width: 225px;
    height: 25px;
  }
  input[name="number"],
  input[name="district"],
  input[name="city"] {
    font-size: 11px;
    max-width: 165px;
    height: 25px;
  }
  input[name="address"] {
    max-width: 330px;
    font-size: 11px;
    height: 25px;
  }
  input[name="cep"] {
    max-width: 170px;
    font-size: 11px;
    height: 25px;
  }
  input[name="complement"] {
    max-width: 500px;
    font-size: 11px;
  }
  .form-companies hr {
    max-width: 485px;
  }
}

@media (max-width: 450px) {
  .form-companies > .number-district-city > .error-msg,
  .error-msg.error {
    display: flex;
    flex-wrap: wrap;
    max-width: 99px;
    height: auto;
    font-size: 11px;
    padding: 2px;
  }
}
