* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.form-products {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 700px;
  height: 600px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
  gap: 15px;
  padding: 20px;
  margin: 0 auto;
  font-size: 16px;
}

.header-form {
  display: flex;
  flex-direction: row;
  max-width: 650px;
  text-align: center;
  gap: 5px;
  justify-content: space-evenly;
  align-items: center;
}

.header-form h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 29px;
}

.image-container {
  display: flex;
  flex-direction: row;
  max-width: 120px;
  margin: 10px;
  gap: 7px;
  max-height: 120px;
  visibility: hidden;
  align-items: center;
  margin-bottom: 40px;
}

.image-container.view {
  visibility: visible;
}
.image-container img {
  max-height: 115px;
  gap: 5px;
}

.img-url {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  max-width: 650px;
  margin: auto;
}

.img-url label {
  text-align: left;
}

.form-products input,
.selects {
  max-width: 310px;
  height: 30px;
  padding-left: 7px;
  margin-top: 13px;
  margin-bottom: 13px;
}

input[name="url"] {
  margin: 0 auto;
  max-width: 640px;
  height: 30px;
  border: 1px solid lightblue;
}

.name-cost {
  display: flex;
  flex-direction: row;
  max-width: 650px;
  margin: 0 auto;
  text-align: start;
  gap: 5px;
}

.name-cost input {
  border: 1px solid lightblue;
}

.description {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  height: auto;
  gap: 5px;
  margin: 0 auto;
}

.description textarea {
  text-align: justify;
  padding: 7px;
  max-width: 100%;
  margin-bottom: 7px;
  margin-top: 10px;
  resize: none;
  border: 1px solid lightblue;

  border-radius: 5px;
}

.selects {
  display: flex;
  flex-direction: row;
  max-width: 650px;
  margin: auto;
  text-align: start;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.selects span {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selects select {
  border: 1px solid lightblue;
  border-radius: 5px;
}

hr {
  background: gray;
  max-width: 600px;
  height: 1px;
  margin: auto;
}

@media (max-width: 700px) {
  .main {
    max-width: 700px;
  }
  .form-products {
    max-width: 600px;
  }
  .header-form {
    gap: 7px;
    flex-wrap: wrap;
    max-width: 600px;
  }
  .header-form > h1 {
    font-size: 22px;
  }
  #cancel,
  .btn-salvar {
    width: 80px;
    height: 25px;
    font-size: 13px;
  }
  #btn-checked {
    width: 150px;
    font-size: 13px;
  }
  .image-container > img {
    max-height: 90px;
    gap: 5px;
  }
  .img-url {
    font-size: 14px;
    max-width: 600px;
  }
  input[name="name"],
  input[name="cost"],
  select {
    font-size: 12px;
    max-width: 250px;
  }
  .description {
    max-width: 600px;
    font-size: 14px;
  }
  hr {
    max-width: 550px;
  }
  label {
    font-size: 14px;
  }
  span {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .main {
    max-width: 400px;
  }
  .form-products {
    max-width: 330px;
  }
  .header-form {
    gap: 7px;
    flex-wrap: wrap;
    max-width: 300px;
  }
  .header-form > h1 {
    font-size: 17px;
  }
  #cancel,
  .btn-salvar {
    width: 45px;
    height: 18px;
    font-size: 11px;
  }
  #btn-checked {
    width: 130px;
    height: 25px;
    font-size: 11px;
  }
  .image-container > img {
    max-height: 70px;
    gap: 5px;
  }
  .img-url {
    font-size: 12px;
    max-width: 300px;
  }
  input[name="name"],
  input[name="cost"],
  select {
    max-width: 150px;
    font-size: 11px;
  }
  .description {
    max-width: 300px;
  }
  textarea {
    font-size: 11px;
  }
  hr {
    max-width: 280px;
  }
  label {
    font-size: 12px;
  }
  span {
    font-size: 12px;
  }
}
